

.subscribe
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 130px;
}

.subscribe_title_p
{
    color: white;
    position: relative;
    left: -17%;
    top: 20%;
    font-family: 'Poppins', sans-serif;
}

.subscribe_container
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 400px;
    background-color: rgb(77, 75, 75);
    border-radius: 20px;
}


.subscribe_container_form
{
    height: 650px;
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.input_form {
    background-color: #eaf1ff; /* Bleu clair similaire */
    border: 1px solid #d0d7e3; /* Bordure douce */
    border-radius: 6px; /* Coins arrondis */
    padding: 10px 30px; /* Espacement intérieur */
    font-size: 16px; /* Taille de police */
    color: #333; /* Couleur du texte */
    margin-top: 30px;
    width: 30%;
}

.input_form_send_p {
    background-color: #3778C4; /* Vert foncé */
    color: white; /* Texte en blanc */
    border: none;
    border-radius: 6px; /* Coins arrondis */
    padding: 10px 16px; /* Espacement intérieur */
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    top: 5%;
    left: 40%;
}