

body {
    font-family: 'Roboto', sans-serif;
}

.header{
    display: flex;
    justify-content: center;
}

.logo-p{
    width: 8%;
    margin-left: 20px;
    margin-top: -25px;
}

.header_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    width: 100%;
    padding-top: 20px;
    background-color: #1A41AF;
}

.header_container_button{
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    height: 40px;
}

.header_container_button_paragraphe{
    color: white;
    font-weight: 500;
}

.header_container_button_title{
    color: white;
    font-weight: 700;
    font-size: x-large;
    margin-top: -15px;
}

.header_container_button_started{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    height: 40px;
    width: 30%;
    color: #1A41AF;
    background-color: white;
    border-radius: 20px;
    margin-top: -10px;
}


.header_container_button_started:hover {
    background-color: black;
    color: white;
}